
// UI Variables
// -------------------

// Gotham colors taken from gotham.vim by Andrea Leopardi
// https://github.com/whatyouhide/vim-gotham

@gotham-base0: #0c1014;
@gotham-base1: #11151c;
@gotham-base2: #091f2e;
@gotham-base3: #0a3749;
@gotham-base4: #245361;
@gotham-base5: #599cab;
@gotham-base6: #99d1ce;
@gotham-base7: #d3ebe9;

// @gotham-white:    #F9F9F9;
@gotham-cyan:     #33859E;
@gotham-blue:     #195466;
@gotham-violet:   #4e5166;
@gotham-green:    #2aa889;
@gotham-red:      #c23127;
@gotham-orange:   #d26937;
@gotham-yellow:   #edb443;
@gotham-magenta:  #888ca6;

// Text Colors
@text-color:           @gotham-base6;
@text-color-subtle:    lighten(@gotham-base6, 10%);
@text-color-highlight: lighten(@gotham-base6, 20%);
@text-color-selected:  @gotham-base7;

@text-color-info:    @gotham-cyan;
@text-color-success: @gotham-green;
@text-color-warning: @gotham-orange;
@text-color-error:   @gotham-red;

// Background colors
@background-color-info:    @gotham-cyan;
@background-color-success: @gotham-green;
@background-color-warning: @gotham-orange;
@background-color-error:   @gotham-red;

@background-color-highlight: lighten(@base-background-color, 5%);
@background-color-selected:  lighten(@base-background-color, 8%);
@app-background-color:       darken(@base-background-color, 5%);

// Base colors
@base-background-color: @gotham-base1;
@base-border-color:     @gotham-base0;

// Component colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color:     @base-border-color;

@input-background-color: @app-background-color;
@input-border-color:     @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color:     @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color:     @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color:     @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color:     @base-border-color;

@button-background-color:          lighten(@base-background-color, 10%);
@button-background-color-hover:    lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color:              @base-border-color;

@tab-bar-background-color:    @base-background-color;
@tab-bar-border-color:        @base-border-color;
@tab-background-color:        @tab-bar-background-color;
@tab-background-color-active: lighten(@tab-bar-background-color, 7%);
@tab-border-color:            @base-border-color;

@tree-view-background-color: @base-background-color;
@tree-view-border-color:     @base-border-color;
@tree-view-file-modified:    @text-color-success;
@tree-view-file:             @text-color;

// Site colors
@ui-site-color-1: @gotham-blue;
@ui-site-color-2: @gotham-green;
@ui-site-color-3: @gotham-orange;
@ui-site-color-4: @gotham-violet;
@ui-site-color-5: @gotham-yellow;

// Sizes
@font-size:       12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding:     10px;
@component-icon-padding: 5px;
@component-icon-size:   16px;
@component-line-height: 25px;

@tab-height: 40px;

// Misc
@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
